body{
    background: #F3F5FC;
}

.btn-iniciar{
    width: 25%;
    height: 40px;
    background: #0A3871;
    border-radius: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;

}

.btn-iniciar-figma{
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 317px;
    height: 114px;
    left: 561px;
    top: 402px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    width: 269px;
    height: 66px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;



    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;

}

.div-desaparece{
    width: 940px;
    margin: 0 auto;
    
}